{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/base.css">
  </head>
  <body>
    <div class="area">
        {% block content %}
        {% endblock %}
    </div><nav class="main-menu">
            <ul>
                <li>
                    <a href="{% url 'homepage' %}">
                        <i class="fa fa-futbol-o"></i>
                        <span class="nav-text">
                            Mecze
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="{% url 'standings_page' %}">
                        <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Tablica wyników
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                           Quotes
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="{% url 'logout_page' %}">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Wyloguj
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>